{% extends "_layout.html" %}
{% block content %}
<div class="container-fluid pt-5">
    <div class="row justify-content-start align-items-start">
        <div class="col-md-3 text-center m-5">
            <div class="profile-photo mb-3">
                {% if user.profile_image_path %}
                <img src="{{ user.profile_image_url }}" />
                {% else %}
                <img src="https://dummyimage.com/200x200/a6a6a6/fff.png&text=Placeholder" />
                {% endif %}
            </div>
            <p><strong>{{user.name}}</strong><br />
                @{{user.username}}
            </p>
        </div>
        <div class="col-md-8 px-5 pt-3">
            <h2 class="text-center mb-4">Edit Profile</h2>
            <form action="{{ url_for('users.update', user_id=current_user.id) }}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" id="email" name="email" aria-label="Email Address"
                        placeholder="{{current_user.email}}">
                </div>
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-label="Full Name"
                        placeholder="{{current_user.name}}">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" aria-label="Username"
                        placeholder="{{current_user.username}}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" aria-label="Password"
                        placeholder="Password">
                </div>
                <hr />
                <div class="form-group">
                    <label for="user-photo">Profile Photo</label>
                    <div class="custom-file">
                        <input name="user-photo" type="file" class="form-control custom-file-input" id="user-photo">
                        <label class="custom-file-label" for="user-photo">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Update Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}