{% extends "_layout.html" %}
{% block content %}
<div class="row justify-content-center text-center pt-4" style="background-color: white;">
    <div class="col-md-5 p-5 border rounded">
        <h1>Register</h1>
        <p>Sign up to see photos from the world's most creative minds.</p>
        <div class="my-4">
            <form action="{{ url_for('users.create') }}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="email" aria-label="Email Address"
                        placeholder="Email Address">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="name" aria-label="Full Name"
                        placeholder="Full Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" aria-label="Username"
                        placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" aria-label="Password"
                        placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block">Register</button>
                </div>
            </form>
        </div>
        <hr />
        <p>Have an account? <a href="/">Log in.</a></p>
    </div>
</div>
{% endblock %}