{% extends "_layout.html" %}
{% block content %}
<div class="container pt-5">
    <div class="row justify-content-start align-items-start">
        <div class="col-md-3 text-center mt-5">
            <div class="profile-photo mb-3">
                {% if user.profile_image_path %}
                <img src="{{ user.profile_image_url }}" />
                {% else %}
                <img src="https://dummyimage.com/200x200/a6a6a6/fff.png&text=Placeholder" />
                {% endif %}
            </div>
            <p><strong>{{user.name}}</strong><br/>
            @{{user.username}}
            </p>
        </div>
        <div class="col-md-8 p-4">
            <div class="row justify-content-around">
                {% for photo in photos %}
                <div class="gallery-item">
                    <img src="{{ photo.url }}" />
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}