{% extends "_layout.html" %}
{% block title %}
  Instagood
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row hero-bg justify-content-around mt-5 pt-2">

    <div class="col-md-4">

      <div class="row-fluid">
        {% if current_user.following %}
        <div class="p-4 m-4 bg-white" style="border: 1px solid #e6e6e6;">
          <div class="mb-3">
            <span style="font-size: .9em; font-weight: 600; color: #999;">Following</span>
            <hr/>
          </div>
          <div>
            <ul style="font-size: .9em; list-style: none; margin-left:-40px;">
              {% for user in current_user.following %}
              <li class="mb-3">
                <a href="{{url_for('users.show', username=user.username)}}">
                  <img src="{{user.profile_image_url}}" width="35" height="35" style="object-fit: cover; border-radius: 100%;"/>
                    <span class="ml-2">
                      {{user.username}}
                    </span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="row-fluid">
      {% if current_user.following %}
      <div class="p-4 m-4 bg-white" style="border: 1px solid #e6e6e6;">
        <div class="mb-3">
          <span style="font-size: .9em; font-weight: 600; color: #999;">Suggested Users</span>
          <hr />
        </div>
        <div>
          <ul style="font-size: .9em; list-style: none; margin-left:-40px;">
            {% for user in users %}
            <li class="mb-3">
              <a href="{{url_for('users.show', username=user.username)}}">
                <img src="{{ user.profile_image_url }}" width="35" height="35" style="object-fit: cover; border-radius: 100%;" />
                <span class="ml-2">
                  {{user.username}}
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
    </div>
    </div>
    <div class="col-md-8">
      {% if photos %}
      {% for photo in photos %}
      <div class="card m-4" style="margin: 0 auto; border: 1px solid rgba(0,0,0,.0975);">
        <div class="card-header bg-white">
          <div class="row justify-content-between p-2">
            <div class="col">
            <a style="color: #262626;" href="{{url_for('users.show', username=photo.user.username)}}">
              <img src="{{photo.user.profile_image_url}}" width="40" height="40"
                style="object-fit: cover; border-radius: 100%;" />
              <span class="ml-2" style="font-weight:600">{{photo.user.username}}</span>
            </a>
            </div class="col">
            <div><a
                href="{{ url_for('transactions.new', image_id=photo.id)}}" class="card-link"><button
                  class="btn btn-success">Donate</button></a>
            </div>
          </div>
        </div>
        <img class="card-img" src="{{photo.url}}" alt="{{photo.caption}}">
        {% if photo.caption %}
        <div class="card-body">
          <a style="color: #262626;" href="{{url_for('users.show', username=photo.user.username)}}">
            <p class="card-subtitle mb-2 text-muted"><strong>{{ photo.user.username }}</strong></a>
          <span class="card-text ml-2">{{photo.caption}}</span>
          </p>
        </div>
        {% endif %}
        <div class="card-footer text-muted text-center" style="font-size:.8em;">
          Posted on {{ photo.created_at.strftime("%b %d %Y")}}
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <div class="row m-4 text-center justify-content-center">
        It looks like you're not following any users. <br />Follow users to see content on your homepage.
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}